.warning{
 color: red;
 font-size: 10px;
 font-weight: 300px;
}


/*Navbar*/

.navbar {
 background-color: #0175A2;
 padding: 2px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 position: sticky;
 top: 0;
 z-index: 1;
}

.searchicon {
 color: #F2F4F7;
 padding: 3px;
}

.searchtext {
 color: #F2F4F7;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 20px;
 padding: 3px;
}

.right {
 margin-right: 5%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 16px;
 margin-right: 32px;
}

.notification{
 padding: 3px;
}

.avatar{
 padding: 3px;
}


/*Sidebar*/

.last {
 margin-top: 70px;
}

.sidebar {
 position: absolute;
 width: 50px;
 left: 0px;
 top: 4.92%;
 bottom: 0%;
 background: #FFFFFF;
 top: 44px;
 z-index: 0;
}

li img {
 margin: 5px;
 padding: 3px;
 width: 35px;
 height: 35px;
}

.menu {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 8px 12px;
 width: 35px;
 height: 35px;
 background: #5E5F74;
 border-radius: 6px;
}

.version {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 10px;
 line-height: 20px;
 display: flex;
 align-items: center;
 color: #475467;
 padding-left: 5px;
}

/*OuterContent*/
.outer {
 background-color: #e9ebee;
 height: 560px;
}

.outertext {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 20px;
 color: #1D2939;
 padding-top: 20px;
 margin-left: 80px;
}

.changepasswordtext {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 28px;
 line-height: 20px;
 color: #1D2939;
 margin-left: 80px;
 padding-top: 5px;
}

.changeaccountpasswordtext {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 24px;
 color: #667085;
 margin-left: 80px;
 padding-top: 5px;
}

/*Inner Content*/
.container {
 display: flex;
 background-color: #FFFFFF;
 flex-direction: column;
 align-items: center;
 margin-inline: 15%;
 top: 200px;
 border-radius: 10px;
 height: 400px;
 margin-top: 3%;
}

.row {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 margin-top: 25px;
}

.column {
 flex-basis: calc(50% - 20px);
 padding: 10px;
}

.column1 {
 flex-basis: calc(50% - 20px);
 padding: 10px;
}

/*column1*/
.row1 {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 margin-top: -30%;
}

.row2 {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

.column1 {
 flex-basis: calc(25% - 10px);
 padding: 5px;
}



.imagetext {
 display: inline-block;
}

.name {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 26px;
 line-height: 24px;
 color: #1D2939;
}

#superadmin {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 10px;
 line-height: 24px;
 color: #667085;
 margin-top: -5px;
}

#mail {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 24px;
 color: #667085;
 margin-top: -5px;
}

.passwordcontains {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 18px;
 line-height: 24px;
 color: #344054;
 margin-bottom: 20px;
 margin-top: 20px;
}

.text {
 font-family: 'Inter';
 font-style: normal;
 font-weight: 500;
 font-size: 12px;
 line-height: 24px;
 color: #667085;
 padding: 3px;
}

/*Column2*/
/*Form*/

.form-group {
 margin-bottom: 35px;
}

label {
 display: block;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 12px;
 line-height: 28px;
 color: #475467;
}

input[type="password"] {
 box-sizing: border-box;
 width: 300px;
 height: 30px;
 display: block;
 background: #F9FAFB;
 border: 1px solid #EAECF0;
 border-radius: 5px;
 display: inline;
}


input[type="text"] {
 box-sizing: border-box;
 width: 300px;
 height: 30px;
 display: block;
 background: #F9FAFB;
 border: 1px solid #EAECF0;
 border-radius: 5px;
 display: inline;
}


 
button[type="submit"] {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 10px 16px;
 gap: 8px;
 width: 300px;
 height: 30px;
 background: #0175A2;
 box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
 border-radius: 4px;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 12px;
 line-height: 28px;
 color: #F9FAFB;
}

@media only screen and (min-width:220px) and (max-width:260px) {
  .searchicon {
    padding: 2px;
    margin-left: 19px;
    font-size: 10px;
   }
   
   .searchtext {
    color: #F2F4F7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 20px;
    padding: 3px;
    margin-left: 0px;
   }
   
   .right {
    display: contents;
    align-items: center;
    justify-content: center;
   }
   
   .notification{
    padding: 2px;
    width: 14px;
   }
   
   .avatar{
    padding: 3px;
    width: 30px;
    height: auto;
   }
  
   .logo{
    width: 80px;
    height: auto;
   }
  
   .last {
    margin-top: 180px;
   }
  
   li img {
    margin: 3px;
    padding: 2px;
    width: 25px;
    height: 25px;
   }
  
   .last {
    margin-top: 180px;
   }
   .outertext {
    font-size: 8px;
    line-height: 8px;
    padding-top: 6px;
    margin-left: 45px;
   }
  
   .changepasswordtext {
    font-size: 16px;
    line-height: 12px;
    margin-left: 45px;
    padding-top: 5px;
   }
  
   .changeaccountpasswordtext {
    font-size: 8px;
    line-height: 10px;
    margin-left: 45px;
    padding-top: 5px;
   }
  
   .sidebar {
    position: absolute;
    width: 35px;
    left: 0px;
    top: 4.92%;
    bottom: 0%;
    background: #FFFFFF;
    top: 35px;
    z-index: 0;
    height: 600px;
   }
  
   .column {
    margin-left: 31px;
   }
  
   /*Inner Content*/
   .container {
    margin-left: 16%;
    border-radius: 10px;
    height: auto;
    width: 196px;
    margin-top: 5%;
   }
  
   .row {
    margin-top: 60px;
    width: 120%;
   }
  
   /*column1*/
   .row1 {
    margin-top: -55%;
    margin-left: -4%;
    width: 157%;
   }
  
   .name {
    font-size: 18px;
    line-height: 18px;
   }
  
   #superadmin {
    font-size: 6px;
    line-height: 18px;
    margin-top: -7px;
   }
  
   #mail {
    font-size: 8px;
    line-height: 18px;
    margin-top: -7px;
   }
  
   .passwordcontains {
    font-size: 8px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-top: 3px;
   }
  
   .text {
    font-size: 6px;
    line-height: 20px;
    padding: 1px;
   }
  
   /*Column2*/
   /*Form*/
  
   .form-group {
    margin-bottom: 10px;
   }
  
   label {
    font-size: 8px;
    line-height: 22px;
   }
  
   input[type="password"] {
    width: 145px;
    height: 22px;
   }
  
   input[type="text"] {
    width: 145px;
    height: 22px;
   }
  
  
   .indicator{
    height: 5px;
    margin: 5px 0;
   }
  
   .indicator span{
    width: 100%;
    height: 30%;
    background-color: #D0D5DD;
    border-radius: 5px;
    margin: 0px 2px;
   }
  
   #eyeicon{
    font-size: 10px;
    }
  
   button[type="submit"] {
    padding: 3px 6px;
    gap: 3px;
    width: 145px;
    height: 22px;
    font-size: 8px;
    line-height: 22px;
   }

}

@media only screen and (min-width:270px) and (max-width:335px) {

 

 .searchicon {
  padding: 2px;
  margin-left: 40px;
  font-size: 10px;
 }
 
 .searchtext {
  color: #F2F4F7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 20px;
  padding: 3px;
  margin-left: 0px;
 }
 
 .right {
  display: contents;
  align-items: center;
  justify-content: center;
 }
 
 .notification{
  padding: 2px;
 }
 
 .avatar{
  padding: 3px;
  width: 30px;
  height: auto;
 }

 .logo{
  width: 80px;
  height: auto;
 }

 .last {
  margin-top: 180px;
 }

 li img {
  margin: 3px;
  padding: 2px;
  width: 25px;
  height: 25px;
 }


 .outertext {
  font-size: 8px;
  line-height: 8px;
  padding-top: 6px;
  margin-left: 60px;
 }

 .changepasswordtext {
  font-size: 16px;
  line-height: 12px;
  margin-left: 60px;
  padding-top: 5px;
 }

 .changeaccountpasswordtext {
  font-size: 8px;
  line-height: 10px;
  margin-left: 60px;
  padding-top: 5px;
 }

 .sidebar {
  position: absolute;
  width: 35px;
  left: 0px;
  top: 4.92%;
  bottom: 0%;
  background: #FFFFFF;
  top: 35px;
  z-index: 0;
  height: 600px;
 }

 .column {
  margin-left: 31px;
 }

 /*Inner Content*/
 .container {
  margin-left: 16%;
  border-radius: 10px;
  height: auto;
  width: 220px;
  margin-top: 10%;
 }

 .row {
  margin-top: 60px;
  width: 120%;
 }

 /*column1*/
 .row1 {
  margin-top: -55%;
  margin-left: -4%;
  width: 157%;
 }

 .name {
  font-size: 18px;
  line-height: 18px;
 }

 #superadmin {
  font-size: 6px;
  line-height: 18px;
  margin-top: -7px;
 }

 #mail {
  font-size: 8px;
  line-height: 18px;
  margin-top: -7px;
 }

 .passwordcontains {
  font-size: 8px;
  line-height: 20px;
  margin-bottom: 3px;
  margin-top: 3px;
 }

 .text {
  font-size: 6px;
  line-height: 20px;
  padding: 1px;
 }

 /*Column2*/
 /*Form*/

 .form-group {
  margin-bottom: 10px;
 }

 label {
  font-size: 8px;
  line-height: 22px;
 }

 input[type="password"] {
  width: 145px;
  height: 22px;
 }

 input[type="text"] {
  width: 145px;
  height: 22px;
 }


 .indicator{
  height: 5px;
  margin: 5px 0;
 }

 .indicator span{
  width: 100%;
  height: 30%;
  background-color: #D0D5DD;
  border-radius: 5px;
  margin: 0px 2px;
 }

 #eyeicon{
  font-size: 10px;
  }

 button[type="submit"] {
  padding: 3px 6px;
  gap: 3px;
  width: 145px;
  height: 22px;
  font-size: 8px;
  line-height: 22px;
 }


}

@media only screen and (min-width:335px) and (max-width:400px) {

 .searchicon{
  font-size: 10px;
 }

 .last {
  margin-top: 180px;
 }

 li img {
  margin: 3px;
  padding: 2px;
  width: 25px;
  height: 25px;
 }

 .searchtext {
  font-size: 10px;
  line-height: 16px;
 }

 .outertext {
  font-size: 10px;
  line-height: 10px;
  padding-top: 8px;
  margin-left: 60px;
 }

 .changepasswordtext {
  font-size: 18px;
  line-height: 14px;
  margin-left: 60px;
  padding-top: 6px;
 }

 .changeaccountpasswordtext {
  font-size: 10px;
  line-height: 12px;
  margin-left: 60px;
  padding-top: 6px;
 }

 .sidebar {
  position: absolute;
  width: 35px;
  left: 0px;
  top: 4.92%;
  bottom: 0%;
  background: #FFFFFF;
  top: 50px;
  z-index: 0;
 }

 .column {
  margin-left: 31px;
 }

 /*Inner Content*/
 .container {
  margin-left: 16%;
  border-radius: 10px;
  height: auto;
  width: 250px;
  margin-top: 10%;
 }

 .row {
  margin-top: 60px;
  width: 120%;
 }

 /*column1*/
 .row1 {
  margin-top: -55%;
  margin-left: -4%;
  width: 197%;
 }

 .name {
  font-size: 20px;
  line-height: 20px;
 }

 #superadmin {
  font-size: 8px;
  line-height: 20px;
  margin-top: -7px;
 }

 #mail {
  font-size: 10px;
  line-height: 20px;
  margin-top: -7px;
 }

 .passwordcontains {
  font-size: 10px;
  line-height: 22px;
  margin-bottom: 4px;
  margin-top: 4px;
 }

 .text {
  font-size: 7px;
  line-height: 20px;
  padding: 1px;
 }

 /*Column2*/
 /*Form*/

 .form-group {
  margin-bottom: 12px;
 }

 label {
  font-size: 10px;
  line-height: 22px;
 }

 input[type="password"] {
  width: 165px;
  height: 22px;
 }
 input[type="text"] {
  width: 165px;
  height: 22px;
 } 

 .indicator{
  height: 8px;
  margin: 8px 0;
 }

 .indicator span{
  width: 100%;
  height: 40%;
  background-color: #D0D5DD;
  border-radius: 5px;
  margin: 0px 2px;
 }

 #eyeicon{
  font-size: 10px;
  }

 button[type="submit"] {
  padding: 3px 6px;
  gap: 3px;
  width: 165px;
  height: 22px;
  font-size: 10px;
  line-height: 22px;
 }

}

@media only screen and (min-width:401px) and (max-width:576px) {

 .searchicon{
  font-size: 11px;
 }
 .searchtext {
  font-size: 12px;
  line-height: 18px;
 }

 .outertext {
  font-size: 10px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 70px;
 }

 .changepasswordtext {
  font-size: 20px;
  line-height: 15px;
  margin-left: 70px;
  padding-top: 5px;
 }

 .changeaccountpasswordtext {
  font-size: 10px;
  line-height: 15px;
  margin-left: 70px;
  padding-top: 5px;
 }

 .column {
  margin-left: 73px;
  margin-top: -7px;
 }

 /*Inner Content*/
 .container {
  margin-left: 16%;
  border-radius: 10px;
  height: auto;
  width: 500px;
 }

 .row {
  margin-top: 60px;
  width: 119%;
 }

 /*column1*/
 .row1 {
  margin-top: -41%;
  margin-left: -4%;
  width: 150%;
 }

 .name {
  font-size: 20px;
  line-height: 20px;
 }

 #superadmin {
  font-size: 6px;
  line-height: 20px;
  margin-top: -7px;
 }

 #mail {
  font-size: 10px;
  line-height: 20px;
  margin-top: -7px;
 }

 .passwordcontains {
  font-size: 10px;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
 }

 .text {
  font-size: 8px;
  line-height: 20px;
  padding: 1px;
 }

 /*Column2*/
 /*Form*/

 .form-group {
  margin-bottom: 15px;
 }

 label {
  font-size: 10px;
  line-height: 22px;
 }

 input[type="password"] {
  width: 190px;
  height: 24px;
 }
 input[type="text"] {
  width: 190px;
  height: 24px;
 } 

 #eyeicon{
  font-size: 11px;
  }

 button[type="submit"] {
  padding: 5px 8px;
  gap: 6px;
  width: 190px;
  height: 24px;
  font-size: 10px;
  line-height: 26px;
 }

}

@media only screen and (min-width: 576px) and (max-width: 600px) {
 .searchicon{
  font-size: 12px;
 }

 .outertext {
  font-size: 10px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 70px;
 }

 .changepasswordtext {
  font-size: 20px;
  line-height: 15px;
  margin-left: 70px;
  padding-top: 5px;
 }

 .changeaccountpasswordtext {
  font-size: 10px;
  line-height: 15px;
  margin-left: 70px;
  padding-top: 5px;
 }

 .column {
  margin-left: 119px;
 }

 .sidebar{
  top: 50px;
 }

 /*Inner Content*/
 .container {
  margin-left: 11%;
  border-radius: 10px;
  height: auto;
  width: 500px;
 }

 .row {
  margin-top: 60px;
 }

 /*column1*/
 .row1 {
  margin-top: -30%;
 }

 .name {
  font-size: 20px;
  line-height: 20px;
 }

 #superadmin {
  font-size: 8px;
  line-height: 20px;
  margin-top: -7px;
 }

 #mail {
  font-size: 12px;
  line-height: 20px;
  margin-top: -7px;
 }

 .passwordcontains {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-top: 8px;
 }

 .text {
  font-size: 10px;
  line-height: 22px;
  padding: 2px;
 }

 /*Column2*/
 /*Form*/

 .form-group {
  margin-bottom: 5px;
 }

 label {
  font-size: 10px;
  line-height: 20px;
 }

 input[type="password"] {
  width: 280px;
  height: 24px;
 }

 input[type="text"] {
  width: 280px;
  height: 24px;
 }

 .indicator{
  height: 8px;
  margin: 8px 0;
 }

 .indicator span{
  width: 100%;
  height: 40%;
  background-color: #D0D5DD;
  border-radius: 5px;
  margin: 0px 2px;
 }

 #eyeicon{
  font-size: 12px;
  }

 button[type="submit"] {
  padding: 5px 8px;
  gap: 6px;
  width: 280px;
  height: 26px;
  font-size: 10px;
  line-height: 26px;
 }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
 .searchicon{
  font-size: 12px;
 }

 .outertext {
  font-size: 10px;
  line-height: 10px;
  padding-top: 10px;
  margin-left: 80px;
 }

 .changepasswordtext {
  font-size: 20px;
  line-height: 15px;
  margin-left: 80px;
  padding-top: 5px;
 }

 .changeaccountpasswordtext {
  font-size: 10px;
  line-height: 15px;
  margin-left: 80px;
  padding-top: 5px;
 }

 .column {
  margin-left: 100px;
  width: 413px;
 }

 .sidebar {
  position: absolute;
  width: 50px;
  left: 0px;
  top: 4.92%;
  bottom: 0%;
  background: #FFFFFF;
  top: 44px;
  z-index: 0;
  height: 800px;
 }


 /*Inner Content*/
 .container {
  margin-inline: auto;
  margin-left: 12%;
  border-radius: 10px;
  height: auto;
  width: 500px;
 }

 .row {
  margin-top: 60px;
 }

 /*column1*/
 .row1 {
  margin-top: -30%;
 }

 .name {
  font-size: 20px;
  line-height: 20px;
 }

 #superadmin {
  font-size: 8px;
  line-height: 20px;
  margin-top: -7px;
 }

 #mail {
  font-size: 12px;
  line-height: 20px;
  margin-top: -7px;
 }

 .passwordcontains {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-top: 8px;
 }

 .text {
  font-size: 10px;
  line-height: 22px;
  padding: 2px;
 }

 /*Column2*/
 /*Form*/

 .form-group {
  margin-bottom: 5px;
 }

 label {
  font-size: 10px;
  line-height: 20px;
 }

 input[type="password"] {
  width: 280px;
  height: 24px;
 }

 input[type="text"] {
  width: 280px;
  height: 24px;
 }

 .indicator{
  height: 8px;
  margin: 8px 0;
 }

 .indicator span{
  width: 100%;
  height: 40%;
  background-color: #D0D5DD;
  border-radius: 5px;
  margin: 0px 2px;
 }

 #eyeicon{
  font-size: 12px;
  }

 button[type="submit"] {
  padding: 5px 8px;
  gap: 6px;
  width: 280px;
  height: 26px;
  font-size: 10px;
  line-height: 26px;
 }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

 .searchicon{
  font-size: 13px;
  padding: 5px;
 }

 .searchtext{
 padding: 5px;
 }

 .notification{
  padding: 5px;
  width: 25px;
  height: auto;
 }

 .avatar{
  padding: 5px;
 }

 .sidebar{
  top: 54px;
 }

 .changepasswordtext {
  font-size: 22px;
 }

 .container {
  margin-right: 15%;
  top: 250px;
  width: 600px;
  height: auto;
 }
 #eyeicon{
  font-size: 13px;
  }

}

@media only screen and (min-width: 800px) {

 .searchicon{
  font-size: 14px;
  padding: 5px;
 }

 .searchtext{
 padding: 5px;
 }

 .notification{
  padding: 5px;
  width: 25px;
  height: auto;
 }

 .avatar{
  padding: 5px;
 }

 .sidebar{
  top: 54px;
 }

 .container {
  margin-right: 11%;
  top: 250px;
  width: 650px;
  height: auto;
 }

 #eyeicon{
  font-size: 14px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

 .searchicon{
  font-size: 15px;
  padding: 5px;
 }

 .searchtext{
 padding: 5px;
 }

 .notification{
  padding: 5px;
  width: 25px;
  height: auto;
 }

 .avatar{
  padding: 5px;
 }

 .sidebar{
  top: 50px;
 }

 .container {
  margin-inline: auto;
  top: 250px;
  width: 800px;
  height: auto;
 }

 #eyeicon{
  font-size: 15px;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

 .searchicon{
  font-size: 16px;
  padding: 5px;
 }

 .searchtext{
 padding: 5px;
 }

 .notification{
  padding: 5px;
  width: 25px;
  height: auto;
 }

 .avatar{
  padding: 5px;
 }

 /*Sidebar*/
 .last {
  margin-top: 70px;
 }

 .sidebar {
  position: absolute;
  width: 70px;
  height: 650px;
  left: 0px;
  top: 50px;
  bottom: 0%;
  background: #FFFFFF;
  z-index: 0;
 }

 li img {
  margin: 5px;
  padding: 5px;
  width: 45px;
  height: auto;
 }

 .version {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #475467;
  margin-left: 10%;
 }

 /*OuterContent*/
 .outer {
  background-color: #e9ebee;
  height: 650px;
 }

 /*Inner Content*/
 .container {
  margin-inline: auto;
  top: 250px;
  width: 1000px;
  height: auto;
 }

 .row {
  margin-top: 35px;
 }

 .column {
  padding: 12px;
 }

 .column1 {
  padding: 12px;
 }

 #eyeicon{
  font-size: 16px;
  }

}