<!--Navbar-->

<div class="navbar">
  <div class="left">
    <img src="../../../../assets/Vector (2).png" class="py-1 ml-2 logo" alt="image" width="100px">
  </div>
  <div class="right">
    <!--<img src="../../../../assets/search.png" class="searchicon">-->
    <i class="fa fa-search searchicon"></i>
    <span class="searchtext">Search Accounts</span>
    <svg class="notification" width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7 19H11C11 20.1 10.1 21 9 21C7.9 21 7 20.1 7 19ZM18 17V18H0V17L2 15V9C2 5.9 4 3.2 7 2.3V2C7 0.9 7.9 0 9 0C10.1 0 11 0.9 11 2V2.3C14 3.2 16 5.9 16 9V15L18 17ZM14 9C14 6.2 11.8 4 9 4C6.2 4 4 6.2 4 9V16H14V9Z"
        fill="white" />
    </svg>
    <img class="avatar" src="../../../../assets/userM.png" alt="">
  </div>
</div>


<!--Side bar-->

<div class="sidebar">
  <div>
    <ul>
      <li>
        <img src="assets/userM.png" alt="">
      </li>

      <li>
        <a href="#"><img src="../../../../assets/menu.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/dollar.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/nav-noti.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/Bars.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/client2.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/client1.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/file.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/Role1.png"></a>
      </li>

      <li>
        <a href="#"><img src="../../../../assets/Team1.png"></a>
      </li>

      <li class="last">
        <a href="#"><img src="../../../../assets/exit.png"></a>
      </li>

      <li class="version">V 1.20</li>
    </ul>
  </div>
</div>

<!--Main Content-->
<!--Outer Content-->
<div class="outer">
  <div class="outertext">&larr; Back to dashboard</div>
  <div class="changepasswordtext">Change Password</div>
  <div class="changeaccountpasswordtext">Change your account password</div>

  <!--Inner Content-->
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="row1">
          <div class="column1">
            <img height="90px" width="90px" src="../../../../assets/userM.png">
          </div>
          <div class="column1">
            <div class="imagetext">
              <div id="name">Rakshan</div>
              <div id="superadmin">Super Admin</div>
              <div id="mail">rakshan@jobcheck.com</div>
            </div>
          </div>
        </div>
        <div class="row2 passwordcontains">Password Must Contain</div>
        <div class="row2 text">At least 1 Upper case letter(A-Z)</div>
        <div class="row2 text">At least 1 Lower case letter(a-z)</div>
        <div class="row2 text">At least 1 number(0-9)</div>
        <div class="row2 text">At least 8 characters</div>
      </div>

      <!--Form-->

      <!--Current Password Field-->
      <div class="column">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="current-password">Current Password</label>
            <input [type]="show_button1 ? 'text' : 'password'" name="password" required="" id="id_password">
            <i [class]="show_eye1 ? 'far fa-eye-slash' : 'far fa-eye'" (click)="showPassword1()"
              style="margin-left: -30px; cursor: pointer;" id="eyeicon"></i>
          </div>


          <!--New Password Field-->
          <div class="form-group ">
            <label>New Password</label>
            <input [type]="show_button2 ? 'text' : 'password'" autocomplete="new-password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid':submitted && h['password'].errors}" (keyup)="onKey($event)">
            <i [class]="show_eye2 ? 'far fa-eye-slash' : 'far fa-eye'" (click)="showPassword2()"
              style="margin-left: -30px; cursor: pointer;" id="eyeicon"></i> 

              <!--Password Strength Checker-->
              <app-password-strength-bar [passwordToCheck]="passwordForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength-bar>
            
            <div *ngIf="h['password'].touched && h['password'].errors" class="text-warning">
              <div *ngIf="h['password'].errors['required']" class="warning">Password is required</div>
            </div>
          </div>


          <!--Confirm New Password Field-->
          <div class="form-group ">
            <label>Confirm New Password</label>
            <input [type]="show_button3 ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
              [ngClass]="{'is-invalid':submitted && h['confirmPassword'].errors}">
            <i [class]="show_eye3 ? 'far fa-eye-slash' : 'far fa-eye'" (click)="showPassword3()"
              style="margin-left: -30px; cursor: pointer;" id="eyeicon"></i>

            <div *ngIf="h['confirmPassword'].touched && h['confirmPassword'].errors" class="text-warning">
              <div *ngIf="h['confirmPassword'].errors['required']">Confirm Password is required</div>
              <div *ngIf="h['confirmPassword'].errors['mustmatch']" class="warning">Password does not match</div>
            </div>
          </div>


          <button type="submit" (click)="onSubmit">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

