<!-- Navbar -->
<nav class="navbar">
   <ul>
      <li><img class="logo" src="../../../../assets/JobCheck-Logo (1) 4.png" alt="" width="260px" height="74.03px"></li>
      <li><img class="bar" src="../../../../assets/Line 247.png" alt="" width="403px" height="0px"></li>
   </ul>
  </nav>
  
  <!--Status-->
  <div class="bodybar">
   <ul class="list">
      <li>
         <div class="number">1</div>
      </li>
      <li class="text">General Info</li>
      <li>
         <hr>
      </li>
      <li>
         <div class="number">2</div>
      </li>
      <li class="text">Business Info</li>
      <li>
         <hr>
      </li>
      <li>
         <div class="number">3</div>
      </li>
      <li class="text">Contact</li>
      <li>
         <hr>
      </li>
      <li>
         <div class="number blue">4</div>
      </li>
      <li class="text textblue">Account Info</li>
   </ul>
  </div>
  
  <!--Form-->
  <div class="container bg-orange-600">
   <h1 class="heading">Account Info</h1>
   <form>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone" placeholder="eg: 67282182432" required>
  
      <label for="email">Email ID:</label>
      <input type="email" id="email" name="email" placeholder="eg: India@gmail.com" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="eg: India" required>
  
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
  
      <button type="submit">Save & Proceed &nbsp;<i class='fas fa-arrow-right'></i></button>
      
   </form>
  </div>
  