<!-- Navbar -->

<div class="navbar w-full flex justify-between z-30 sticky top-0 py-0">
  <div class="left">
    <img src="../../../../assets/Vector (2).png" class="py-1 ml-2" alt="image" width="100px">
  </div>
  <div class="right flex justify-center items-center space-x-6 mr-6">
    <svg class="notification w-4" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7 19H11C11 20.1 10.1 21 9 21C7.9 21 7 20.1 7 19ZM18 17V18H0V17L2 15V9C2 5.9 4 3.2 7 2.3V2C7 0.9 7.9 0 9 0C10.1 0 11 0.9 11 2V2.3C14 3.2 16 5.9 16 9V15L18 17ZM14 9C14 6.2 11.8 4 9 4C6.2 4 4 6.2 4 9V16H14V9Z"
        fill="white" />
    </svg>
    <img class="md:w-6 lg:w-9" src="assets/Avatar.png" alt="">
  </div>
</div>

<!-- Sidebar -->

<div class="sidebar absolute w-12 top-9 z-0">
  <div>
    <ul>
      <li>
        <img class="mt-4 p-1 w-9" src="assets/userM.png" alt="">
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/nav-dash.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/dollar.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/nav-noti.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/Nav item base.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/client2.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/client1.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/file.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/Role1.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-4 p-1 w-9" src="../../../../assets/Team1.png"></a>
      </li>

      <li>
        <a href="#"><img class="mt-20 p-1 w-9" src="../../../../assets/exit.png"></a>
      </li>

      <li class="version font-medium text-xs flex items-center pl-1">V 1.20</li>
    </ul>
  </div>
</div>

<!--Body-->
<div class="bodycolor">
  <div class="w-60 h-5 font-medium text-sm py-10">&larr;Back to Master data Management</div>
  <div>Add Job Role Data Field</div>



  <!-- <div class="flex justify-end">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
      Button 1
    </button>
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
      Button 2
    </button>
  </div> -->
  

  <!-- <div class="flex justify-center">
    <div class="w-full md:w-3/4 mt-8 lg:w-10/12  p-6 bg-white rounded-lg shadow-md">

      <div class="w-40 h-7 ml-7 font-semibold text-2xl text-gray-800">New Job Role</div>
      <div class="w-16 h-7 mt-10 mb-10 font-medium text-xl text-gray-900">Details</div>

      <div class="grid gap-4 lg:grid-cols-3 md:grid-rows-8">
        <div>
          <label class="w-12 h-6 font-semibold text-base text-gray-800" for="title">Title</label>
          <input class="box-border mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
            id="title" type="text" placeholder="eg:Account Admin">
        </div>

        <div>
          <label class="w-44 h-6 font-semibold text-base text-gray-800" for="title">Code(Auto Generated)</label><a
            href="#" class="w-22 h-5 font-medium ml-16 text-sm items-center editmanualtext">Edit Manually</a>
          <input class="box-border mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
            id="title" type="text" placeholder="eg:0001">
        </div>

        <div>
          <label class="w-22 h-6 font-semibold text-base text-gray-800" for="title">Created On</label>
          <input class="box-border mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
            id="title" type="date" placeholder="19/05/2013">
        </div>

        <div>
          <label class="w-22 h-6 font-semibold text-base text-gray-800" for="title">Description</label>
          <input
            class="box-border flex items-center mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
            id="title" type="text" placeholder="eg:Account Admin">
        </div>

        <div>
          <label class="w-28 h-6 font-semibold text-base text-gray-800" for="title">Source Name</label>
          <input
            class="box-border flex items-center mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
            id="title" type="text" placeholder="eg:Google">
        </div>

        <div>
          <label class="w-28 h-6 font-semibold text-base text-gray-800" for="title">Source Type</label>
          <select
            class="box-border flex items-center mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg">
            <option>eg:Manual/Api</option>
          </select>
        </div>

        <div>
          <label class="w-28 h-6 font-semibold text-base text-gray-800" for="title">Skills</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 mt-3 text-gray-500 dark:text-gray-400" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </div>
            <input
              class="box-border flex items-center mt-4 px-5 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg"
              id="search" type="search" placeholder="eg:Google">
          </div>
        </div>

        <div>
          <label class="w-28 h-6 font-semibold text-base text-gray-800" for="title">Employment Type</label>
          <select
            class="box-border flex items-center mt-4 px-3 w-80 h-12 bg-gray-50 border-1 border-solid border-gray-300 rounded-lg">
            <option>eg:Full-time</option>
          </select>
        </div>

      </div>


    </div>
  </div> -->
</div>